<main role="main">

    <div class="py-5">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="#" alt="">
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="#" alt="">
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="#" alt="">
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>